@import url('https://fonts.googleapis.com/css?family=Inter:200,300,500,600');

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

body {
    background-color: #141621;
    font-family: 'Inter', "Calibri Light", serif;
}

a, u {
    text-decoration: none;
}

p {
    margin: 1.5vh 0;
    padding-bottom: 20px;
}

.space {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -13vw 10vh 3px 0 #fff, 27vw 30vh 3px 1px #fff, -37vw -1vh 0 0 #fff, -33vw -20vh 2px 1px #fff, -35vw -13vh 3px 3px #fff, -33vw 32vh 2px 0 #fff, -42vw -28vh 1px 1px #fff, 16vw 7vh 2px 2px #fff, -32vw 2vh 3px 2px #fff, -5vw -2vh 1px 2px #fff, 26vw 12vh 0 2px #fff, 28vw -3vh 3px 0 #fff, 8vw -9vh 3px 2px #fff, 20vw -23vh 0 0 #fff, -37vw -1vh 0 1px #fff, -2vw -34vh 3px 2px #fff, -25vw 18vh 1px 0 #fff, -30vw -27vh 1px 0 #fff, -24vw 41vh 1px 2px #fff, -30vw -5vh 0 1px #fff, 39vw -8vh 3px 0 #fff, -29vw 11vh 1px 3px #fff, 27vw 12vh 3px 1px #fff, 12vw 25vh 0 3px #fff, -3vw 29vh 2px 3px #fff, 20vw 27vh 1px 2px #fff, 46vw 42vh 0 3px #fff, 39vw 30vh 0 3px #fff, 32vw -44vh 1px 3px #fff, 43vw 45vh 1px 2px #fff, 16vw -24vh 1px 3px #fff, -43vw 47vh 2px 1px #fff, -2vw -42vh 2px 0 #fff, 12vw 12vh 3px 3px #fff, 47vw 32vh 2px 0 #fff, -23vw -30vh 3px 2px #fff, 34vw 29vh 3px 1px #fff, -44vw 18vh 0 0 #fff, 42vw -9vh 0 2px #fff, 39vw 41vh 2px 3px #fff, -16vw 12vh 2px 3px #fff, -7vw 20vh 1px 2px #fff, 39vw -7vh 0 2px #fff, -5vw -23vh 0 2px #fff, 41vw 26vh 2px 2px #fff, 13vw 12vh 2px 2px #fff, 24vw 34vh 1px 3px #fff, -33vw -37vh 2px 0 #fff, 16vw 32vh 1px 1px #fff, -2vw 22vh 3px 2px #fff, 3vw 44vh 1px 1px #fff, 18vw 32vh 3px 2px #fff, 6vw 13vh 3px 3px #fff, -48vw 42vh 0 3px #fff, -2vw 4vh 3px 3px #fff, -6vw -17vh 1px 2px #fff, 26vw -25vh 1px 3px #fff, -30vw 43vh 1px 2px #fff, 13vw 19vh 1px 2px #fff, 22vw 36vh 2px 1px #fff, 32vw -12vh 2px 3px #fff, -10vw 10vh 2px 0 #fff, -4vw 30vh 0 0 #fff, 4vw -17vh 3px 2px #fff, -45vw 23vh 1px 0 #fff, 49vw 13vh 3px 3px #fff, -23vw -11vh 3px 2px #fff, 8vw 2vh 0 1px #fff, -39vw -25vh 2px 0 #fff, -31vw 2vh 2px 3px #fff, -42vw -45vh 2px 3px #fff, -17vw 19vh 3px 2px #fff, 38vw 36vh 3px 2px #fff, 3vw -8vh 2px 3px #fff, -36vw 35vh 1px 0 #fff, -44vw -23vh 1px 1px #fff, -7vw 0 2px 1px #fff, 42vw 49vh 2px 0 #fff, -14vw -32vh 3px 1px #fff, 5vw 34vh 2px 0 #fff, -34vw -14vh 1px 0 #fff, 31vw -10vh 3px 3px #fff, 36vw 15vh 3px 3px #fff, 35vw -34vh 0 1px #fff, -13vw -2vh 1px 3px #fff, 46vw -39vh 1px 2px #fff, 42vw -17vh 0 2px #fff, -44vw -9vh 0 2px #fff, 27vw 36vh 1px 1px #fff, 41vw -27vh 0 3px #fff, -23vw 3vh 1px 1px #fff, 47vw 13vh 3px 3px #fff, 41vw -17vh 2px 3px #fff, -43vw -21vh 0 3px #fff, -9vw 47vh 1px 2px #fff, 3vw -38vh 3px 0 #fff, 11vw -32vh 0 0 #fff, 29vw 39vh 0 1px #fff, 24vw -5vh 0 0 #fff, 25vw 21vh 3px 1px #fff;
    animation: zoom 30s alternate infinite;
}

.container {
    display: flex;
    color: white;
    width: fit-content;
    justify-content: space-evenly;
    gap: 10vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.cta-work {
    display: block;
    padding: 1em;
    border-radius: 10px;
    font-size: 1.91vh;
    color: #bfc7c7;
    flex: 1;
    background-color: #484c54;
    text-align: center;
    font-weight: 600;
}

.cta-work:hover, .left-navbar-items > a:hover {
    background-color: #5c6069;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 2vh;
    background: rgba( 255, 255, 255, 0.05 );
    padding: 20px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    min-width: 100px;
}

#intro-header {
    font-size: 5.1vh;
    font-weight: 500;
}

#intro-header > span {
    color: #086187;
}

#intro-text {
    font-weight: 200;
}

@media screen and (max-width: 1000px) {
    .cta-work {
        padding: 1.2em;
    }
}