@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: #EAEDF1;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
}

.pg_right_down {
    position: absolute;
    left: 81%;
}

.pg_right_up {
    position: absolute;
    left: 70%;
    bottom: 52%;
}

.pg_left_middle {
    position: absolute;
    right: 92.5%;
    top: 2%;
}

.middle-content {
    position: relative;
    margin-left: 25.5%;
    padding-top: 8%;
    font-size: 21px;
}

.header-text {
    font-size: 55px;
    font-weight: 900;
}

.header-actually-word {
    color: #086187;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
}

.cta-portfolio {
    display: block;
    position: relative;
    text-align: center;
    line-height: 3.6rem;
    width: 39%;
    height: 22%;
    outline: 0;
    padding: 0;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    color: #5d6c72;
    background-color: #cfdfe8;
    opacity: 1;
    transition: 0.3s;
    margin-top: 3%;
    text-decoration: none;
}

.cta-portfolio:hover {
    opacity: .7;
    color: initial;
}

.quote {
    font-size: 20px;
    font-weight: lighter;
}

.pg-qa-behind {
    position: absolute;
    top: 93%;
    z-index: -1;
    font-size: 20px;
    font-weight: bold;
}