/* Defining the navbar shape and the inner div */

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    right: 0;
    backdrop-filter: blur(15px);
    background-color: rgba(240, 242, 245, .5)
}

.navbar-shape {
    position: sticky;
    top: 0;
    z-index: 3;
}

/* The li, ul tags at the very inner div */

.navbar-shape__ul {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar-shape__ul > li {
    font-size: 2.1vh;
    display: inline-flex;
    padding: 3rem 0; !important;
    line-height: 0;
}

.navbar-shape__ul > li > a {
    text-decoration: none;
    color: inherit;
    opacity: 1;
    transition: 0.3s;
}

.navbar-shape__ul > li > a:hover {
    color: #6191C9;
}