<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not found</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>

<style>
    body {
        background-color: #eaedf1;
    }

    .navbar {
        position: relative;
        height: 1in;
        width: 19in;
        background-color: #ffffff;
        left: -1px;
    }

    .navbar-items {
        display: flex;
        justify-content: center;
    }

    .navbar-text {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
    }

</style>

<body>
    <div class="navbar">
        <div class="navbar-items">
            <p class="navbar-text">Home</p>
            <p class="navbar-text">Portfolio</p>
            <p class="navbar-text">About me</p>
            <p class="navbar-text">Contact</p>
        </div>
    </div>


</body>
</html>