<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 NOT FOUND</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    >
    <link rel="stylesheet" href="/static/css/404.css"/>
</head>
<body>
    <div class="container">
        <img src="/static/images/pg_right_down.png" alt="pg_any_any_tiny.png" class="pg_right_down">
        <img src="/static/images/pg_right_up.png" alt="pg_right_up.png" class="pg_right_up">
        <img src="/static/images/pg_left_middle.png" alt="pg_left_middle.png" class="pg_left_middle">
    </div>
    <div class="navbar-shape">
        <div class="container">
            <div class="navbar">
                <ul class="navbar-items">
                    <li class="navbar-item"><a>Home</a></li>
                    <li class="navbar-item"><a>Portfolio</a></li>
                    <li class="navbar-item"><a>About me</a></li>
                    <li class="navbar-item"><a>Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>