<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>Portfolio</title>
</head>
<body>
<div class="space"></div>

<div class="container">
    <div class="content">
        <p id="intro-header">Hi there, I’m <span>Novu</span>.</p>
        <p id="intro-text">I'm a full-stack web developer, UX & UI<br>
            designer from Bosnia and Herzegovina.<br>
            While Python is my specialty, I also <br>
            work with JS, HTML & CSS, C and SQL.<br><br>

            On a daily basis, I work with web<br>
            applications, Discord bots and<br>
            APIs.
        </p>
        <a class="cta-work" href="https://github.com/novusys/">S E E &nbsp; M Y &nbsp; W O R K</a>
    </div>
</div>
</body>
</html>
