<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 NOT FOUND</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    >
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/navbar.css"/>
</head>
<body>
    <div class="container">
        <img src="/static/images/pg_right_down.png" alt="pg_any_any_tiny.png" class="pg_right_down">
        <img src="/static/images/pg_right_up.png" alt="pg_right_up.png" class="pg_right_up">
        <img src="/static/images/pg_left_middle.png" alt="pg_left_middle.png" class="pg_left_middle">
    </div>
    <div class="navbar-shape">
        <div class="container">
            <div class="navbar">
                <ul class="navbar-items-ul">
                    <li class="navbar-item-il"><a href="#home" class="navbar-a">Home</a></li>
                    <li class="navbar-item-il"><a href="#portfolio" class="navbar-a">Portfolio</a></li>
                    <li class="navbar-item-il"><a href="#about_me" class="navbar-a">About me</a></li>
                    <li class="navbar-item-il"><a href="#contact" class="navbar-a">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="middle-content">
        <div>
            <img src="/static/images/pg_any_any_tiny.png" alt="pg_any_any_tiny.png">
            <p style="color: black; margin-top: -17%;">Hey there, I’m <span style="color: #086187;">Novu</span>,</p>
            <p class="intro-text"><span style="color: #494949; font-size: 17px;">Full stack Web developer</span></p>
        </div>

        <div class="header-text">
            <p>I create websites</p>
            <p class="intro-text">
                that <span class="header-actually-word">actually</span> work.
            </p>
        </div>

        <div>
            <a class="cta-portfolio" href="#portfolio">
                S E E &nbsp;M Y&nbsp;  W O R K
            </a>
        </div>

        <p class="quote">
            <i>
                “Any fool can write code that a computer can understand.
                Good programmers write code that humans can understand.”
            </i>
        </p>

        <div class="quote-author">
            <img
                    src="/static/images/pg_any_any_tiny.png"
                    alt="pg_any_any_tiny.png"
            >
            <p style="margin-top: -50%;">– Martin Fowler</p>
        </div>

    </div>

    <div>
        <p id="portfolio" style="position: absolute; top: 150%;">Insert portfoloio sertion</p>
    </div>
</body>
</html>